<form class="w-50 mt-4 align-content-center border rounded-3 bg-light container">
  <h4 class="form-label mt-2">Add a Link:</h4>
  <div class="mb-3">
    <label for="title" class="form-label">Title: </label>
    <input type="text" name="title" class="form-control" id="title" #newTitle>
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link: </label>
    <input type="text" name="link" class="form-control" id="link" #newLink>
  </div>
  <div style="text-align: right">
    <button (click)="addArticle(newTitle,newLink)" class="btn btn-primary mb-3 ">Submit</button>
  </div>
</form>

<app-article *ngFor="let article of sortedArticle()" [article]="article"></app-article>

